<div class="container">
  <div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img src={{user.image}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{user.fullName}}</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <h1>Profile</h1>
    <p><i class="fa fa-envelope"> {{user.email}}</i></p>
    <p><i class="fa fa-user"> {{user.fullName}}</i></p>
  </div>
</div>
</div>