<div class="container">
  <div class="media">
    <img src={{user.image}} class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">{{user.fullName}}</h5>
      <p>Email: {{user.email}}</p>
    </div>
  </div>
</div>
