<div class="container">
    <div class="row">
        {{#each users}}
        <div class="col-sm-2" >
            <div class="card">
                <img src={{image}} class="card-img-top" alt="...">
                <div class="card-body">
                <h8 class="card-title">{{fullName}}</h5>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>